@import './normalize';

@import url('http://fonts.googleapis.com/css?family=Roboto:300,400,500');

@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);

$bps: (
    mobileUp: 660px
);

@mixin bp($point) {
    @if $point == mob-up {
        @media (min-width: map-get($bps, mobileUp)) { @content; }
    }
}

$headerHeight: (
    small: 55px,
    medium: 70px
);

$keyline: (
    small: 0.8rem,
    medium: 1.6rem,
    large: 3.2rem
);

* {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Raleway, Arial;
    font-weight: 400;
    font-size: 1.6em;
    line-height: 1.4;
    color: black;
    letter-spacing: 0.02em;
    background: white;
}

h1, h2, h3 {
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
}

h2 {
    font-size: 2rem;

    @include bp(mob-up) {
        font-size: 2.4rem;
    }
}

a {
    text-decoration: none;
    color: black;
}

.global-header {
    background: black;
    color: white;
    height: map-get($headerHeight, small);
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    @include bp(mob-up) {
        /* position: static; */
        height: map-get($headerHeight, medium);
    }
}

// Homepage

.movie-grid {
    @include bp(mob-up) {
        display: flex;
        flex-wrap: wrap;
        margin: auto;
    }
}

.movie {
    display: block;
    position: relative;
    color: black;
    background: black;
    overflow: hidden;

    @include bp(mob-up) {
        width: 50%;
        display: inline-block;
    }

    &__info {
        padding: map-get($keyline, medium);
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
        color: white;
    }

    img {
        width: 100%;
        display: block;
        transform: scale(1);
        backface-visibility: hidden;
        opacity: 1;
        transition: transform 15s, opacity .5s .1s;

        &.is-hidden {
            opacity: 0;
        }
    }

    h2 {
        margin: 0;
    }

    &:hover {

        img {
            transform: scale(1.2);
        }
    }

    &.is-removed {
        height: 0;
        transition: height 0.15s ease-in;
    }
}

.main-content {
    height: 100%;
    margin: auto;

    @media (orientation: landscape) {
        height: auto;
    }
}
