<% _.each(movies, function(movie) { %>
    <div class="movie js-movie--show" data-id="<%= movie.id %>">
        <img src="http://image.tmdb.org/t/p/w500/<%= movie.backdrop_path %>" alt="">

        <span class="movie__info">
            <h2><%= movie.title %></h2>
        </span>
    </div>
<% }); %>